@import url('https://fonts.googleapis.com/css?family=Catamaran|Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Root */
:root{
    --primaryColor: #698f3f;
    --secondaryColor: grey;
    --mainTransition: all 0.2s ease-in-out;
    --letterSpacing: 1.5rem;
    --primaryFont:'Catamaran', sans-serif;
    --secondaryFont:'Pacifico', cursive;
}

body{
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Helper/Utility Classes */
a{
    text-decoration: none;
    
}

/* Global */
.section-center{
    padding: 5rem 0;
    width: 100vw;
    max-width: 1080px;
    margin: 0 3rem;
}
/* Global End */

#menu{
    position: fixed;
    transition: var(--mainTransition);
    animation: menu-animation 2s infinite linear forwards;
    
}
/* Menu Animation */
@keyframes menu-animation {
    0%{
        transform:scale(0.5);
    }
    50%{
        transform:scale(0.7);
    }
    100%{
        transform: scale(0.5);
    }
}

/* Clear Fixes */
.clearfix::after, .clearfix::before{
    content: '';
    clear: both;
    display: table;

}

/* End clear Fixes */
/* Helper/Utility Classes End */

/* Header */
.header{
    min-height: 100vh;
    background:linear-gradient(to top, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.4)), url('/main.jpeg') center/cover no-repeat fixed;
    position: relative;
}


/* Banner */
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.flavour-text{
    color: var(--primaryColor);
    text-transform: lowercase;
    font-family: var(--secondaryFont);
    /* animation */
    transition: var(--mainTransition);
    animation: flavour-text-animation 2s 1 ease-in-out forwards;
}

@keyframes flavour-text-animation{
    0%{
       transform: translateX(1000px);
    }
    20%{
        transform: translateX(-300px);
    }
    40%{
        transform: translateX(100px);
    }
    60%{
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(50px);
    }
}
.crafted-text{
    color: white;
    font-family: var(--primaryFont);
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 20px;
    /* animation */
    animation: crafted-text-animation 2s 1 ease-in-out forwards;
}

@keyframes crafted-text-animation{
    0%{
       transform: translateX(-1000px);
    }
    20%{
        transform: translateX(300px);
    }
    40%{
        transform: translateX(-100px);
    }
    60%{
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-50px);
    }
}

.explore-btn-link{
    background: var(--primaryColor);
    border: 10px solid var(--primaryColor);
    outline: 3px solid var(--primaryColor);
    outline-offset: 3px;
    color:saddlebrown;
    letter-spacing: 0.5rem;
    transition: var(--mainTransition);
    margin-top: 2rem;
    display: inline-block;

}

.explore-btn-link:hover{
    color: white;
    padding: 2px;
}
/* Banner End */
/* Header End */


/* Header-Content Divider */
.content-divider{
    height: 6px;
    background: linear-gradient(to right,var(--primaryColor),orange,brown, orange ,var(--primaryColor))
}

/* Header-Content Divider End

/*Content */

/* Content-1 */

article{
    float: left;
    width: 25%;
    height: 200px;
    text-align: center;
    background: darkgray;
}

.heading{
    font-family: var(--primaryFont);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-top: 20px;
    color: var(--primaryColor);
}

.paragraph{
    margin: 10px auto;
    font-size: 95%;
    max-width: 13rem;
}

.fas{
    margin-top: 30px;
    font-size: 200%;
    transition: var(--mainTransition);
}

article:hover{
    background: var(--primaryColor);
}
article:hover .heading{
    color: whitesmoke;
}

article:hover .fas{
    transform: translateY(-5px) scale(1.3);
}
/* Content-1 End */


/* Content-2 */

.teapot-image{
    width: 25vw;
    border: 5px solid var(--primaryColor);
    border-radius: 10px;
    display: block;
    overflow: hidden;
    
      
}

#teapot-image{
    width: 25vw;  
    display: block; 
}
.about-us{
    width: auto;
}

.about-our{
    font-family: var(--secondaryFont);
    color: var(--primaryColor);
    text-transform: capitalize;
    letter-spacing: 8px;
}

.teastation{
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 8px 0;
}

article1{
    float: left;
    margin: 0 5rem;
}

.about-para{
    font-family: var(--primaryFont);
    max-width:25rem;
}

.teapot-image:hover #teapot-image{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* Content-2 End */
/* Content-3  */
.content-3{
    background: rgb(48,48,48);
    margin: 3rem 0;
}

.para-3{
    font-family: var(--primaryFont);
    max-width: 20rem;
    color: white;
    padding: 10px 0;;
}

.checkout-text{
    font-family: var(--secondaryFont);
    color: var(--primaryColor);
}

.our-products{
    font-family: var(--primaryFont);
    font-size: 200%;
    color: white;
}

.n-images{
    width: 200px;
    margin: 1rem 20px 1rem 0;
    border-radius: 10px;
    display: block;
}

divx{
    float: left;
    
}

article2{
    float: left;
}

divx > h1{
    text-transform: uppercase;
    color: white;
    font-family: var(--primaryFont);
    font-size: 100%;
    letter-spacing: 10px;
    max-width: 1rem;
}

divx > h4{
    color: var(--primaryColor);
    font-family: var(--secondaryFont);
    padding: 10px 0;
}

.nested-images{
    padding-left: 4rem;
}


/* Content-3 End*/
/* Media Screen Changes */
@media screen and (max-width: 1080px){
    .header{
        min-height: 120vh;
    }
    article{
        float: left;
        width: 50%;
    }
    article1{
        float:left;
        margin:2rem 2rem;
    }
    article2{
        float: left;
        width: 100%;
    }
    divx{
        float: left;
    }
    .nested-images{
        padding: 5rem 0; 
    }

}

@media screen and (max-width: 720px){
    article{
        float:left;
        width: 100%;
    }
    article1{
        float:left;
        margin:1rem;
    }
    article2{
        float: left;
        width: 100%;
    }
    divx{
        float: left;
    }
    .nested-images{
        padding: 5rem 0; 
    }
}
/* Media Screen Changes End */


/* Content End */
