@import url('https://fonts.googleapis.com/css?family=Catamaran|Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Root */
:root{
    --primaryColor: #698f3f;
    --secondaryColor: grey;
    --mainTransition: all 0.2s ease-in-out;
    --letterSpacing: 1.5rem;
    --primaryFont:'Catamaran', sans-serif;
    --secondaryFont:'Pacifico', cursive;
}

body{
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Helper/Utility Classes */
a{
    text-decoration: none;
    
}

/* Global */
.section-center{
    padding: 5rem 0;
    width: 100vw;
    /* max-width: 1080px; */
    margin: 0 3rem;
}
/* Global End */
/* Scroll Effect */


/* Scroll Effect ENd */

/* Nav  */
#nav-btn{
    position: fixed;
    z-index: 1;
    font-size: 250%;
    color: var(--primaryColor);
    padding-left: 10px;
    transition: var(--mainTransition);
    animation: menu-animation 2s infinite linear forwards;
    
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 80vw;
    bottom: 0;
    /* z-index: 2; */
    padding-left: 2rem;
    background: rgba(0,0,0,0.5);

}

.nav-items{
    list-style-type: none;
    line-height: 3rem;
  
}

.nav-link{
    color:var(--primaryColor);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    transition: var(--mainTransition);
}

#nav-close-btn{
    color: var(--primaryColor);
    cursor: pointer;
}

/* Menu Animation */
@keyframes menu-animation {
    0%{
        transform:scale(0.5);
    }
    50%{
        transform:scale(0.7);
    }
    100%{
        transform: scale(0.5);
    }
}

/* Nav End */
/* Clear Fixes */
.clearfix::after, .clearfix::before{
    content: '';
    clear: both;
    display: table;

}

/* End clear Fixes */
/* Helper/Utility Classes End */

/* Header */
.header{
    min-height: 100vh;
    background:linear-gradient(to top, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.4)), url('/main.jpeg') center/cover no-repeat fixed;
    position: relative;
}


/* Banner */
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.flavour-text{
    color: var(--primaryColor);
    text-transform: lowercase;
    font-family: var(--secondaryFont);
    /* animation */
    transition: var(--mainTransition);
    animation: flavour-text-animation 2s 1 ease-in-out forwards;
}

@keyframes flavour-text-animation{
    0%{
       transform: translateX(1000px);
    }
    20%{
        transform: translateX(-300px);
    }
    40%{
        transform: translateX(100px);
    }
    60%{
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(50px);
    }
}
.crafted-text{
    color: white;
    font-family: var(--primaryFont);
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 20px;
    /* animation */
    animation: crafted-text-animation 2s 1 ease-in-out forwards;
}

@keyframes crafted-text-animation{
    0%{
       transform: translateX(-1000px);
    }
    20%{
        transform: translateX(300px);
    }
    40%{
        transform: translateX(-100px);
    }
    60%{
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-50px);
    }
}

.explore-btn-link{
    background: var(--primaryColor);
    border: 10px solid var(--primaryColor);
    outline: 3px solid var(--primaryColor);
    outline-offset: 3px;
    color:saddlebrown;
    letter-spacing: 0.4rem;
    transition: var(--mainTransition);
    margin-top: 2rem;
    display: inline-block;
    font-size: 110%;

}

.explore-btn-link:hover{
    color: white;
    padding: 2px;
}
/* Banner End */
/* Header End */


/* Header-Content Divider */
.content-divider{
    height: 6px;
    background: linear-gradient(to right,var(--primaryColor),orange,brown, orange ,var(--primaryColor))
}

/* Header-Content Divider End

/*Content */

/* Content-1 */

article{
    float: left;
    width: 25%;
    height: 200px;
    text-align: center;
    background: darkgray;
}

.heading{
    font-family: var(--primaryFont);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-top: 20px;
    color: var(--primaryColor);
}

.paragraph{
    margin: 10px auto;
    font-size: 95%;
    max-width: 13rem;
}

.fas{
    margin-top: 30px;
    font-size: 200%;
    transition: var(--mainTransition);
}

article:hover{
    background: var(--primaryColor);
}
article:hover .heading{
    color: whitesmoke;
}

article:hover .fas{
    transform: translateY(-5px) scale(1.3);
}
/* Content-1 End */


/* Content-2 */

.image{
    width: 25vw;
    border: 5px solid var(--primaryColor);
    border-radius: 10px;
    display: block;
    overflow: hidden;
    
      
}

#teapot-image{
    width: 25vw;  
    display: block; 
}


.about-our{
    font-family: var(--secondaryFont);
    color: var(--primaryColor);
    text-transform: capitalize;
    letter-spacing: 8px;
}

.teastation{
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 8px 0;
}

.teapot-image{
    float: left;
    width: 25%;
}
.about-us{
    float: left;
    width: 75%;
    padding-left: 5rem;
}
.about-para{
    font-family: var(--primaryFont);
    max-width:25rem;
}

.teapot-image:hover #teapot-image{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* Content-2 End */
/* Content-3  */
.content-3{
    background: rgb(48,48,48);
    margin: 3rem 0;
}

.para-3{
    font-family: var(--primaryFont);
    max-width: 20rem;
    color: white;
    padding: 10px 0;;
}

.checkout-text{
    font-family: var(--secondaryFont);
    color: var(--primaryColor);
}

.our-products{
    font-family: var(--primaryFont);
    font-size: 200%;
    color: white;
}

.n-images{
    width: 200px;
    margin: 1rem 20px 1rem 0;
    border-radius: 10px;
    display: block;
}

divx{
    float: left;
    padding: 0 3rem
    
}

.checkout-ourproducts{
    float: left;
    width: 25%;
}
.nested-float{
    float: left;
    width: 75%;
}

divx > h1{
    text-transform: uppercase;
    color: white;
    font-family: var(--primaryFont);
    font-size: 100%;
    letter-spacing: 10px;
    max-width: 1rem;
}

divx > h4{
    color: var(--primaryColor);
    font-family: var(--secondaryFont);
    padding: 10px 0;
}

.nested-images{
    padding-left: 4rem;
}


/* Content-3 End*/

/* Content-4(Last) */

.address_email_telephone, .form{
    float: left;
    width: 40%;
    padding: 0 10rem
}

.address_email_telephone > div{
    margin: 3rem 0;
}


.address > span, .mail > span, .telephone > span{
    color: var(--primaryColor);
    font-family: var(--secondaryFont);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.address > h4, .mail > h4, .telephone > h4{
    text-transform: uppercase;
    margin-top: 5px;
    font-family: var(--primaryFont);
    letter-spacing: 2px;
}
.form-control{
    display: block;
    margin: 0 0 2rem 0;
    padding: 0.5rem 0;
    width: 25vw;
    border: none;
    border-bottom: 3px solid var(--primaryColor);
    outline: none;
    
}

.form-control::placeholder{
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    font-size: 110%;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: bold;
}


.form>h1{
    color: var(--primaryColor);
    margin-bottom: 2rem;
    font-size: 200%;
    font-weight: lighter;
    font-family: var(--primaryFont);
    text-transform: capitalize;
}
/* Content-4 End */



/* Content End */

/* Services */

.services{
    min-height:100vh;
}

.our-services{
    text-align: center;
}

.our-services > h2{
    font-family: var(--secondaryFont);
    color: var(--primaryColor);
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: 2rem;
}

.our-services > h1{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--primaryFont);
}

.cards{
    margin: 2rem 7rem 5rem 7rem;
    width: 90vw;
    
}

.card-items{
    float: left;
    margin: 5rem 3rem;
    width: 25%;
    border: 3px solid var(--primaryColor);
    padding: 5px;
    -moz-outline-radius: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    -webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
    
    
}

.card-border{
    border-radius: 1rem;
    overflow: hidden;
}
.tea-image{
    height: 50%;
    background: var(--primaryColor);
    position: relative;
}

.tea-image > img{
    width:100% ;
    
    
}

.icon{
    position: absolute;
    background: orange;
    bottom: 0;
    right: 40%;
    transform: translateY(40%);
    font-size: 120%;
    padding: 0 20px 20px 20px;
    border-radius: 100%;
    border: 3px solid var(--primaryColor);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}
.captions{
    background: var(--primaryColor);
    height: 50%;
    text-align: center;
    padding: 3rem;
}

.captions > p{
    font-size: 200%;
    color: white;
    max-width: 20rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.captions > .btn{
    width: 10rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--primaryColor);
}
/* Services End */
/* Footer */

.footer{
    background: black;
}

.facebook, .instagram, .twitter{
    text-decoration: none;
    font-size: 150%;
    color: white;
    padding-right: 1rem;
}

.copyright{
    color: white;
    font-family: var(--primaryFont);
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 75%;
}

.copyright > h2 > span{
    color: var(--primaryColor);
}

.socials-link, .copyright{
    padding: 1rem 0;
}

footer{
    text-align: center;
}

.socials{
    padding: 2rem;
}

.fab:hover{
    transition: var(--mainTransition);
    transform: scale(1.5);
}
/* Footer End */

/* Media Screen Changes */
@media screen and (max-width: 1080px){
    .header{
        min-height: 120vh;
    }
    article{
        float: left;
        width: 50%;
    }
    .teapot-image, .about-us{
        float:left;
        width: 50%;
        padding:0;
        margin:1rem 2rem;
    }
    .checkout-ourproducts, .nested-float{
        float: left;
        width: 100%;
    }
    divx{
        float: left;
    }
    .nested-images{
        padding: 5rem 0; 
    }
    .address_email_telephone, .form{
        float: left;
        width:50%;
        padding:0;
        margin: 0;
    }
    .card-items{
        float:left;
        width:35%;
        margin: 1rem;
    }


}

@media screen and (max-width: 768px){
    article{
        float:left;
        width: 100%;
    }
    article1{
        float:left;
        margin:1rem;
    }
    article2{
        float: left;
        width: 100%;
    }
    divx{
        float: left;
        padding:0;
    }
    .nested-images{
        padding: 5rem 0; 
    }
    .address_email_telephone, .form{
        float: left;
        width:100%;
        padding:0;
        margin: 0;
    }
    .card-items{
        float:left;
        width:55%;
        margin: 1rem;
    }
}
/* Media Screen Changes End */